<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bank" parallel = "false">
<parameter name = "URL" value ="https://www.rahulshettyacademy.com/AutomationPractice/" />
<listeners>
<listener class-name = "com.w2a.listeners.Listenersclass"/>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.w2a.testcases.WindowHandleTest"/>
    </classes>
  </test> <!-- Test -->
   <!-- <test name="Test1">
    <classes>
      <class name="com.w2a.testcases.TestWebElement"/>
    </classes>
  </test> -->
</suite> <!-- Suite -->
